<h1>Bienvenidos, estamos usando express HB</h1>
<h2>Mi nombre es {{usuario.nombre}}</h2>
<h2>Mi apellido es {{usuario.apellido}}</h2>

{{#if usuario.mayorEdad}}
<h2>Es mayor de edad</h2>
{{else}}
<h2>Es menor de edad</h2>
{{/if}}
{{>card}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>