<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
    <h2>Bienvenido, {{req.user.first_name}} {{user.last_name}}</h2>
        <p>Correo electrónico: {{ user.email }}</p>
        <p>Edad: {{ user.age }}</p>
        <form action="/api/sessions/logout" method="GET">
            <button type="submit" class="btn btn-primary">Cerrar sesión</button>
        </form>
    </div>
</body>
</html>