<h1>Productos</h1>

<h2>Lista de productos</h2>
<ul id="lista-productos"></ul>
{{>card}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>
