{{#each productos}}
<div class="mx-auto container-fluid row mt-4">
    {{#each productos}}
     <div id="lista-productos">
                  <div class="card-header bg-primary text-white">
                      <h5 class="card-title">:({{product.title}}</h5>
                  </div>
                  <div class="card-body">
                      <img src="${product.img}" class="card-img-top" alt="${product.title}">
                      <p class="card-text">${product.description}</p>
                      <p class="card-text">Precio: $${product.price.toFixed(2)}</p>
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-danger btn-delete" data-id="${product._id}">Eliminar</button>
                  </div>
              </div>
</div> 
 {{/each}}